#RAM-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  table {
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background: lavender;

    tbody {
      tr {
        td:not(:first-child) {
          text-align: center;
          border: 1px solid black;
        }

        td:first-child {
          text-align: end;
        }

        td {
          width: 65px;
        }

        .filled {
          background-color: #00bcd4;
        }
      }
    }
  }
}